.header{
    height: 70px;
    background-color: rgb(9, 8, 8);
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 20;
    .logo{
        height: 140%;
    }

    div{
        
        width: 100%;
        a{
            margin: 2rem;
            color: white;
            text-decoration: none;
        
        }
        a:hover{
            color: rgba(255, 255, 255, 0.808);
        }    


    }
    svg{
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }
}